.tabs-container {
    /* display: flex; */ 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: white;
    transition: background-color 0.3s;
  }
  
  .tab:hover {
    border-bottom: 2px solid #012946;
  }
  
  .active {
    /* border-bottom: 2px solid #012946; */
    /* background-color: #0129460a;
    border-radius: 5px; */
    
  }
  
  .content {
    font-size: 18px;
    text-align: center;
  }
  